/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.page_container__aoG4z {
  display: flex;
  align-items: center;
  gap: 80px;
}

.page_item__z7Kdy {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.page_title__3jonF {
  font-size: 72px;
  background: linear-gradient(to bottom, #194c33, #bbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.page_img__434ND {
  width: 100%;
  height: 500px;
  object-fit: contain;
  animation: page_move__rXy9C 3s infinite ease alternate;
}

@keyframes page_move__rXy9C {
    from {
        transform: translateY(-10px);
    }
    to{
        transform: translateY(10px);

    }
}
.page_desc__5JXkv {
  font-size: 24px;
  font-weight: 300;
}

.page_button__vnlhW {
  padding: 20px;
  cursor: pointer;
  background-color: #53c28b;
  border: none;
  border-radius: 5px;
  width: max-content;
  color: white;
  font-size: 16px;
}


/* responsive */
/* ipad */
@media only screen and (max-width: 768px) {
  .page_container__aoG4z {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 150px;
  }

  .page_item1__8yW2k {
    position: relative;
    top: -455px;
    right: -200px;
  }

  .page_img__434ND {
    width: 250px;
    height: 250px;
    margin-top: -80px;
  }

  .page_title__3jonF {
    font-size: 62px;
    background: linear-gradient(to bottom, #194c33, #bbb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  
  .page_desc__5JXkv {
    font-size: 18px;
    font-weight: 300;
  }

}

@media only screen and (max-width: 480px) {
  .page_container__aoG4z {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .page_item__z7Kdy {

  }

  .page_title__3jonF {
    font-size: 50px;
    background: linear-gradient(to bottom, #194c33, #bbb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .page_img__434ND {
    display: none;
  }

  .page_desc__5JXkv {
    font-size: 16px;
    font-weight: 300;
  }
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/components/button/button.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
/* .container {
    padding: 20px;
    cursor: pointer;
    background-color: #53c28b;
    border: none;
    border-radius: 5px;
    width: max-content;
    color: white;
    font-size: 16px;
  } */



/* CSS */
.button_container__n9vxy {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #53c28b;
  border-radius: 15px;
  box-sizing: border-box;
  color: #bbb;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.button_container__n9vxy:disabled {
  pointer-events: none;
}

.button_container__n9vxy:hover {
  color: #fff;
  background-color: #53c28b;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button_container__n9vxy:active {
  box-shadow: none;
  transform: translateY(0);
}
